@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');


body{
background-color: black;
text-align: center;
font-family: 'Cormorant Garamond', serif;
}


p{
color: white;
}



.col{
height: 600px;
width: 800px;
margin-top: 200px;
margin-left: 300px;
}